@import "../../styles/styles.scss";

.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--max-width-window);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section {
    height: 810px;
    width: 100%;
    background-image: url("../../assets/Background.png");
    display: flex;
    justify-content: center;

    .welcome {
      margin-top: 45px;
      width: 635px;
      height: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1 {
        @include font_styles(44px, 400);
        line-height: 51px;
        letter-spacing: 0em;
        text-align: center;
      }
      > p {
        margin-top: 14px;
        @include font_styles(15px, 400);
        line-height: 19px;
        letter-spacing: 1px;
        text-align: center;
      }
      .buttons {
        margin-top: 22px;
        height: 45px;
        display: flex;
        gap: 12px;
      }
    }
  }
  .companies {
    height: 83px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;

    .list {
      margin-top: 18px;
      max-width: 1200px;
      height: 48px;
      display: flex;
      gap: 20px;
      padding: 0 10px;

      > div {
        width: 280px;
      }
    }
  }

  .question {
    margin-top: 30px;
    width: 730px;
    height: 183px;
    > h1 {
      @include font_styles(32px, 400);
      line-height: 36px;
      letter-spacing: 0em;
      text-align: center;
    }
    > p {
      margin-top: 17px;
      @include font_styles(14px, 400);
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  .images {
    width: 1200px;
    height: 580px;
    display: flex;
    gap: 20px;
  }

  .electricSkateboards {
    margin-top: 20px;
    width: 100%;
    height: 736px;
    display: flex;
    justify-content: center;
    background-image: url("../../assets/Background-2.png");

    > div {
      margin-top: 44px;
      width: 564px;
      height: 199px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        @include font_styles(15px, 400);
        line-height: 19px;
        letter-spacing: 1px;
        text-align: center;
        color: var(--color-dark-txt);
      }

      h1 {
        margin: 11px 0 15px;
        @include font_styles(45px, 700);
        line-height: 51px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-dark-txt);
      }

      > div {
        margin-top: 20px;
      }
    }
  }
  .boostedRev {
    margin-top: 44px;
    width: 1200px;
    height: 380px;
    display: flex;
    gap: 20px;

    .image1,
    .image2 {
      width: 380px;
      height: 380px;
    }

    .image1 {
      background-image: url("../../assets/Image-3.png");
    }

    .image2 {
      background-image: url("../../assets/Image-4.png");
    }

    .content {
      margin-top: 66px;
      max-width: 340px;
      margin-left: 20px;

      h1 {
        margin-top: 0.5px;
        @include font_styles(32px, 400);
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-dark-txt);
      }

      p {
        margin-top: 21px;
        @include font_styles(15px, 400);
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-dark-txt);
      }

      button {
        margin-top: 18px;
        height: 33px;
        width: 101px;
        border-radius: 35px;
        background-color: var(--color-bg-button);
        color: var(--color-light-txt);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .shop {
    margin-top: 45px;
    width: 100%;
    height: 480px;
    display: flex;
  }

  .videos {
    margin-top: 55px;
    padding: 0 10px;
    width: 1160px;
    height: 324px;
    display: flex;
    gap: 20px;

    .video {
      width: 540px;
      height: 304px;

      &:first-child {
        background-image: url("../../assets/Image-8.png");
      }

      &:last-child {
        background-image: url("../../assets/Image-9.png");
      }
    }
  }
  .accessories {
    margin-top: 65px;
    width: 100%;
    height: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      @include font_styles(32px, 700);
      line-height: 36px;
      letter-spacing: 0em;
      text-align: center;
      color: var(--color-dark-txt);
    }

    .line {
      margin-top: 22px;
      height: 2px;
      width: 70px;
      border-radius: 0px;
      background: #cfcfcf;
    }

    .products {
      margin-top: 42px;
      height: 305px;
      width: 100%;
    }
  }
  .advantages {
    width: 100%;
    height: 308px;
    background-color: #000;

    > div {
      margin-top: 15px;
      width: 1400px;
      display: flex;
      gap: 20px;

      .item {
        width: 330px;
        height: 257.5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          margin-top: 20px;
        }

        .content {
          width: 290px;
          height: max-content;

          h1 {
            margin-top: 5px;
            @include font_styles(32px, 700);
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
            color: var(--color-light-txt);
          }

          p {
            margin-top: 25px;
            @include font_styles(15px, 400);
            line-height: 23px;
            letter-spacing: 0em;
            text-align: center;
            color: var(--color-light-txt);
          }
        }
      }
    }
  }
}