@import '../../../styles/styles.scss';

.btn {
  width: 201px;
  height: 33px;
  background: $color-bg-button;
  border-radius: 35px;
  @include font_styles(14px, 400);
  letter-spacing: 0em;
  text-align: center;
  color: $color-light-text;

  &:hover {
    cursor: pointer;
  }
}