@import "../../../styles/styles.scss";

.container {
  max-width: 480px;
  max-height: 480px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    max-width: 460px;
    max-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      @include font_styles(25px, 400);
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      color: $color-light-text;
    }

    p {
      margin-top: 15px;
      @include font_styles(18px, 400);
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
      color: $color-light-text;
    }
  }
}

@media screen and (max-width: $big-tablet) {
  .container {
    min-height: 480px;
  }
}