@import "../../styles/styles.scss";

.header {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: $big-desktop;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-header;
  transform: translateX(-50%);
  z-index: 5;

  .container {
    height: 66px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .logo {
      width: 160px;
      height: 36px;
      padding: 15px 11px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .navigation {
      margin-left: 100px;
      display: flex;
      gap: 22px;
      align-items: center;
      padding: 22px 34px 23px 11px;

      a {
        @include font_styles(14px, 400);
        line-height: 21px;
        font-style: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-dark-text;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .iconsHeader {
      position: absolute;
      right: 20px;
      height: 100%;
      width: 50px;
      padding-right: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      .iconPerson,
      .iconBasket {
        width: 18px;
        height: 18px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .btnMenu {
      position: absolute;
      right: 20px;
      height: 44px;
      width: 44px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $color-bg-footer;
      cursor: pointer;
      display: none;

      img{
        max-width: 32px;
        max-height: 32px;
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  .header {
    .container {
      .navigation {
        margin-left: 80px;
        gap: 12px;
      }

      .iconsHeader {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: $big-tablet) {
  .header{
    .container{
      .navigation, .iconsHeader{
        display: none;
      }

      .btnMenu{
        display: flex;
      }
    }
  }
}