@import "../../styles/styles.scss";

.footer {
  max-width: var(--max-width-window);
  height: 399px;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .firstPart {
      width: 100%;
      height: 329px;
      background-color: var(--color-bg-footer);

      .content {
        max-width: 1200px;
        width: 100%;
        height: 289px;
        margin: 20px 120px;
        display: flex;

        .logo {
          margin: 30px 0 10px 125px;
          width: 160px;
          height: 134px;
        }
        .explore {
          margin: 30px 240px 50px;
          height: 229px;
          width: 379px;
          > h2 {
            @include font_styles(20px, 400);
            font-style: normal;
            line-height: 30px;
            margin-bottom: 10px;
          }
          .nav {
            height: 189px;
            width: max-content;
            display: flex;
            flex-direction: column;

            a {
              @include font_styles(13px, 400);
              font-style: normal;
              line-height: 21px;
              text-decoration: none;
              color: var(--color-dart-text);

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .aboutUs {
          margin: 30px 0 0 20px;
          width: 380px;
          height: 229px;
          > h2 {
            @include font_styles(19px, 400);
            font-style: normal;
            line-height: 30px;
            margin-bottom: 19px;
            margin-bottom: 12px;
          }
          p {
            width: max-content;
            @include font_styles(14px, 400);
            font-style: normal;
            line-height: 21px;
          }

          .description {
            margin-bottom: 19px;
          }
        }
      }
    }

    .secondPart {
      max-width: 1200px;
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      background-color: var(--color-bg-footer-2);

      .info {
        margin: 20px 0 0 10px;
        width: 730px;
        height: 30px;
        display: flex;
        align-items: center;

        .p {
          @include font_styles(19px, 400);
          letter-spacing: 0em;
          text-align: left;
        }

        .default {
          font-size: 13px;
        }

        .primary {
          font-size: 12px;
          color: #ff4a32;

          &:hover{
            cursor: pointer;
          }
        }
      }

      .methods {
        margin: 20px 10px 0 68px;
        width: 332px;
        height: 30px;
        display: flex;
        gap: 4px;

        img {
          width: 38px;
          height: 24px;

          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}