@import "../../styles/styles.scss";

.footer {
  max-width: $big-desktop;
  height: 399px;
  width: 100%;

  .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .firstPart {
      width: 100%;
      height: 329px;
      background-color: $color-bg-footer;

      .content {
        max-width: 1200px;
        width: 100%;
        height: 289px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {
          width: 160px;
          height: 134px;
        }
        .explore {
          > h2 {
            @include font_styles(20px, 400);
            font-style: normal;
            line-height: 30px;
            margin-bottom: 10px;
          }
          .nav {
            height: 189px;
            width: max-content;
            display: flex;
            flex-direction: column;

            a {
              @include font_styles(13px, 400);
              font-style: normal;
              line-height: 21px;
              text-decoration: none;
              color: $color-dark-text;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .aboutUs {
          max-width: 350px;
          width: 100%;
          > h2 {
            @include font_styles(19px, 400);
            font-style: normal;
            line-height: 30px;
            margin-bottom: 19px;
            margin-bottom: 12px;
          }
          p {
            width: max-content;
            width: 100%;
            @include font_styles(14px, 400);
            font-style: normal;
            line-height: 21px;
          }

          .description {
            margin-bottom: 19px;
          }
        }
      }
    }

    .secondPart {
      max-width: 1200px;
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      background-color: $color-bg-footer-2;

      .info {
        margin: 20px 0 0 10px;
        max-width: 730px;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;

        .p {
          @include font_styles(19px, 400);
          letter-spacing: 0em;
          text-align: left;
        }

        .default {
          font-size: 13px;
        }

        .primary {
          font-size: 12px;
          color: #ff4a32;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .methods {
        margin: 20px 10px 0 68px;
        max-width: 332px;
        width: 100%;
        height: 30px;
        display: flex;
        gap: 4px;

        img {
          width: 38px;
          height: 24px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $big-tablet) {
  .footer {
    .container {
      .secondPart {
        height: auto;
        flex-direction: column;
        align-items: center;

        .info {
          height: auto;
          justify-content: center;
          flex-wrap: wrap;
        }

        .methods{
          margin: 30px 0;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: $big-tablet) {
  .footer {
    .container {
      .firstPart {
        height: auto;
        .content {
          margin: 20px 0;
          height: auto;
          flex-direction: column;
          gap: 25px;
        }
      }
    }
  }
}
